.content{
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(255, 0, 0, 0.178); */
}

.container{
    margin-top: 50px;
}

svg.squiggle {
    position: absolute;
    top: 50px;
    left: -350px;
    width: 100%;
    height: 2300px;
    z-index: -1;
  }
  
  svg.squiggle path {
    stroke-width: 25px;
  }
  