.aboutContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.textContainer{
    width: calc(33%-50px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
    z-index: 11;
    color: white;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    p{
        width: 80%;
        font-size: 18px;
    }
}


.textContainer:last-child{
    margin-right: 0px;
}


@media (max-width: 1280px) {
    .aboutContainer{
        width: 95%;
    }

    .textContainer{
        width: calc(33% - 25px);
        margin-right: 25px;

        p{
            width: 90%;
        }
    }
}

@media (max-width: 450px) {
    .aboutContainer{
        width: 95%;
        margin: 0;
        margin-top: 25px;
        flex-direction: column;
    }

    .textContainer{
        width: 100%;
        margin: 0px 0px 15px 0px;
    }
}

