@import url('../../App.css');

.navbar{
    width: 80%;
    height: 80px;
    margin: auto;
    /* margin-top: 10px; */
    position: fixed;
    top: 0;
    padding-top: 10px;
    transition: transform 1s ease-in;
    z-index: 1111;
}

.navbarContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbarButtons{
    display: flex;
}

.navbarButton{
    width: fit-content;
    padding: 15px 25px;
    font-family: inherit;
    border-radius: 20px;
    border: none;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLink{
    text-decoration: none;
}

.navbarButton.contact{
    width: calc(100px + 50px);
    margin-right: 25px;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.buttonContent {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.navbarButton.contact:hover{
    background-color: var(--secondary-color);
}

.navbarButton.contact:hover .buttonContent{
    margin-right: 5px;
    transform: translateX(5px);
}

.arrow{
    width: 18px;
    margin-right: 5px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease-out;
}

.navbarButton.contact:hover .arrow{
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.point{
    width: 5px;
    margin-left: 10px;
    margin-top: 2px;
}

.navbarButton.contact:hover .point{
    display: none;
}

.dots{
    width: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

/* Menu button and menu display */

.navbarButton.menu{
    initial-value: aaaa;
}

.navbarButton.menu:hover{
    background-color: var(--background-color);
    border: none;
}

.navbarButton.menu.active{
    background-color: var(--background-color);
}

.navbarButton.menu:hover .dots{
    transform: rotate(-270deg);
}

.menuContent.hidden{
    display: none;
}

.menuContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.menuLink {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 15px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.5s ease-out;
}

.menuLink:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.menuLink.active {
    background-color: #e0e0e0;
    color: black;
}

.menuLink .point{
    width: 10px;
}

.menuLink:hover .arrow {
    display: inline-block;
    opacity: 1;
    width: 25px;
    rotate: 90deg;
}

/*Arrow to top styles*/
.arrowTop{
    width: 40px;
    padding: 5px;
    position: relative;
    border-radius: 50%;
}

.arrowTopBtn {
    display: none;
    position: relative;
    overflow: hidden;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    color: #e0ffff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.arrowTopBtn:active{
    transform: scale(1.1);
}

.arrowTopBtn::before{
    content: '';
    position: absolute;
    inset: -1px 18px;
    background: var(--primary-color);
    transition: 500ms;
    animation: rotate 3s linear infinite;
    z-index: -1;
}
.arrowTopBtn:hover::before{
    inset: -1px;
}
.arrowTopBtn::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: white;
    z-index: -1;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.navbar.scrolled{
    
    .navbarTitle{
        display: none;
    }

    .arrowTopBtn{
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}

.menuLink.contact{
    display: none;
}

@media (max-width: 450px) {
    .navbarButton.contact{
        display: none;
    }

    .menuLink.contact{
        display: block;
    }

    .navbarTitle{
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .navbar{
        width: 65%;
    }
}






