
@font-face {
  font-family: 'Quicksand-Thin';
  src: url('./assets/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./assets/Quicksand-Bold.ttf') format('truetype');
}


:root{
  --font-color: #141619;
  --primary-color: #2c2e3a;
  --secondary-color: #0a9cc0;
  --darker-secondary: #050a44;
  --background-color: #bfbfc2;

  width: 80%;
  max-height: 2200px;
  margin: auto;

  font-family: Quicksand;

  color: var(--font-color);

  overflow-x: hidden;
}

@media (max-width: 450px) {
  :root{
    width: 90%;
    overflow-x: hidden;
  }
}
